.header {
  background: #2F4F4F;
  margin: 0;
  width: 100%;
}

.container {
  width: 89.745%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 18px 0;
}

.logo {
  object-fit: cover;
  object-position: center;
  width: 36px;
  height: 36px;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  font-size: 12px;
  font-family: var(--font-inter-medium);
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.link:hover {
  opacity: .7;
}

.up {
  color: var(--color-ligth);
}

.in {
  color: black;
  border: 1px solid rgb(61, 220, 132);
  padding: 8px 20px;
  border-radius: 3px;
  background-color: rgb(61, 220, 132);
}