.section {
  width: 100%;
  margin: 0;
}

.container {
  width: 89.0625%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  gap: 30px;
}

.title {
  width: 100%;
  font-size: 40px;
  font-family: var(--font-inter-medium);
  color: var(--color-ligth);
  line-height: 58px;
  letter-spacing: -0.04em;
}

.block {
  align-items: center;
  display: flex;
  gap: 15px;
}

.button {
  background-image: url('../../../../assets/images/icons/settings/Add__Button.svg');
  background-size: 100% 100%;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
}

@media screen and (max-width: 467px) {
  .block {
    flex-direction: column;
    gap: 10px;
  }
}