.section {
  width: 100%;
  margin: 0;
  background-color: rgb(32, 32, 32);
  min-height: 100vh;
}

.container {
  padding-top: 100px;
  width: 89.0625%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table {
  border: 3px solid white;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.cell {
  border: 3px solid white;
  font-family: var(--font-inter-regular);
  margin: 0;
  padding: 15px;
  color: #fff;
  position: relative;
}

.header {
  text-align: center;
}

.row:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fullCell {
  height: 98px;
}

.fullCell:hover::before,
.fullCell:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
}

.fullCell:hover::before {
  top: 0;
  bottom: 0;
  left: -5000px;
  right: -5000px;
}

.fullCell:hover::after {
  left: 0;
  right: 0;
  top: -5000px;
  bottom: -5000px;
}
