.section {
  background: rgb(32, 32, 32);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.input {
  margin-top: 30px;
}

.formButton {
  background-color: var(--grey-secondary);  
  color: var(--grey-secondary-light);  
  padding: 12px 0;
  width: 100%;
}

.formButtonActive {
  background-color: var(--light-grey-primary);
  color: var(--light-grey-primary);
  cursor: pointer;
}