.nav {
  width : 150px; 
  margin : 0;
  position: relative;
}

.span {
  padding : 12px;
  border: 1px solid white;
  background-color: transparent;
  color : white;
  font-family: var(--font-inter-regular);
  font-size : 1.2em;
  cursor : pointer;
  display: block;
}

.span::after {
  float: right;
  right: 10%;
  content: "+";
}

.list {
  position: absolute;
  background-color: #d9d9d9;
  top: 100%;
  left: 0%;
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  z-index: 1000;
}

.list .item {
  padding: 30px;
}

.input {
  position: absolute;
  opacity: 0;
  height: 0;
}

.input:checked + .list {
  height: 300px;
  opacity: 1;
}

.button {
  background-color: transparent;
  border: none;
  font-family: var(--font-inter-regular);
  color: var(--color-text-black);
  font-size: 1.2rem;
  margin: 0;
  cursor: pointer;
}